* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    overscroll-behavior-y: contain;
    position: relative;
}

button {
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 0 2.5px;
    background-color: #333;
    cursor: pointer;
    transition: 200ms ease-in-out;
    overflow: hidden;
}

button i {
    pointer-events: none;
}

select {
    background-color: #333;
    border: none;
    outline: none;
    color: #fff;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
}

input {
    background-color: #333;
    padding: 8px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    padding: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

#toolbar p {
    color: #aaa;
    font-size: 1.25em;
    margin: 0 7px;
}

.selected {
    background-color: #fff;
    color: #000;
}

.canvas-input {
    border: 1px solid red;
    position: absolute;
    z-index: 999;
}

#board {
    width: 100vw;
    height: 100vh;
}